    <h1 class="index_title">INSTITUTO TECNOLÓGICO DE MATAMOROS</h1>
    <div class="row">
        <div class="span4 index_image" style="text-align:center;">
            <img src="/media/img/logo_tec.png">
        </div>
        <div class="span4 index_image" style="text-align:center;">
            <img src="/media/img/logo_snest.png">
        </div>
        <div class="span4 index_image" style="text-align:center;">
            <img src="/media/img/logo_sep_gob.jpg">
        </div>
    </div>

    <div class="index_subtitle">
      <h3>Laboratorio de Cómputo</h3>
      <h3><small>Departamento de Sistemas y Computación.</small></h3>
    </div>

