{%extends 'reportes_base.html'%}

{%block title%}
    <title>{{titulo}} - Reportes</title>
{%endblock%}

{%block titlecontent%}
    <h2>{{titulo}}</h2>
{%endblock%}

{%block content%}
    {%for aula in aula_list%}
    {%if aula.informes%}
        <h3>Aula {{aula.aula.nombre}}</h3>
        <table class="table table-condensed">
        <tr>
              <th>ID</th>
              <th style="width:120px;">Fecha</th>
              <th>Categoría</th>
              <th>Condición</th>
              <th>Aula</th>
              <th>Equipo</th>
              <th style="width:280px;">Descripción</th>

        </tr>
        {%for informe in aula.informes%}
        <tr>
              <td>{{informe.id}}</td>
              <td>{{informe.fecha_creacion.date|date:"d M Y"}}</td>
              <td><span class="label {%if informe.tipo == 1%}label-inverse{%endif%}">{{informe.get_tipo_display}}</span></td>
              <td><span class="label {{informe.get_label_class}}">{{informe.get_estado_display}}</span></td>
              <td>{{informe.equipo.aula.nombre}}</td>
              <td>{{informe.equipo.nombre}}</td>
              <td>{{informe.descripcion}}</td>
        </tr>
        {%endfor%}
        </table>
        <p>Total de informes en {{aula.aula.nombre}}: {{aula.count}}</p>
        <br>
        <hr>
        <br>
    {%endif%}
    {%endfor%}
    <p>Total de informes en todas las aulas: {{total_count}}</p>
{%endblock%}
